@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
}


.hero_template{
  background-image: url("../images/paw-background.png");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 80px 20px;
  font-family: 'Fredoka', sans-serif;
  position: relative;
  overflow: hidden;
}

.hero_template h1 {
  font-size: 3rem;
  font-weight: 800;
  z-index: 1;
  position: relative;
  font-family: 'Segoe UI Rounded', 'Helvetica Neue', sans-serif;
}

