@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
  
}

body {
  background-color: #FEF7E5;
}


/* Hero template start */

.hero_template{
  background-image: url("../images/paw-background.png");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 80px 20px;
  font-family: 'Fredoka', sans-serif;
  position: relative;
  overflow: hidden;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 20px;
}

.hero_template h1 {
  font-size: 7rem;
  font-weight: 800;
  z-index: 1;
  position: relative;
  font-family: 'Fredoka', sans-serif;
}

@media (max-width: 480px) {
  .hero_template h1  {
   font-size: 4rem;
  }

}

/* Hero template end */

/* Nav start */

.nav {
  position: fixed; 
  top: 0;          
  left: 0;       
  width: 100%;    
  background-color: #FEF7E5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;    
  transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out, color 0.4s ease-in-out;
}

.logo-image {
  height: 60px; 
  width: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  
}

.nav li {
  height: 100px;
}

.nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #2743CB;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.4s ease-in-out;
}

.nav a:hover {
  color: #5268D5;
  font-weight: 800;
 
}

.nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #f9f9f9c8;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
 
}

nav .sidebar {
  align-items: flex-start;
  justify-content: flex-start;
  display: none; 
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  padding: 10px 15px;
  text-decoration: none;
  color: #2F3247;
}

.sidebar a:hover {
  background-color: #c4ff42;
  color: #ffffff;
}

.menu-button{
  display: none;
}


@media (max-width: 1018px) {
  .hideOnMobile{
    display: none;
  }
  .menu-button { 
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
  .nav ul {
  padding-left: 0px;
  padding-right: 0px;
  
}
}



/* Nav end */



/* Footer start */


  .footer .footer-container {
    background-color: #5268D5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    
  }
  
  .footer-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .footer-colum {
    flex: 1;
    max-width: 25%;
    min-width: 200px;
    padding: 10px;
  }
  
  .footer-colum img {
    max-width: 100%;
  }
  
  .footer-colum p {
    font-weight: 800;
    color: #ffffff;
  }
  
  .footer-colum ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-colum h4 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: x-large;
    font-weight: 800;
  }
  
  .footer-colum ul li {
    margin-bottom: 20px;
  }
  
  .footer-colum ul li a {
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .footer-colum ul li a:hover {
    color: #000000;
  }
  
  .footer-colum input {
    display: block;
    padding-left: 20px;
    margin: 14px 0;
    border: none;
    width: 100%;
    height: 45px;
  }
  
  .footer-colum .input-submit {
    padding: 0px 20px;
    background: #000000;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .Copyright {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background-color: #2941D0;
  }
  
  
  
  @media only screen and (max-width: 1024px) {
    .footer-row {
      gap: 20px;
      justify-content: center;
    }
  
    .footer-colum {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 20px;
    }
  
    .footer-colum h4 {
      font-size: large;
      margin-bottom: 20px;
    }
  
    .footer-colum ul li a {
      font-size: 14px;
    }
  
    .footer-container {
      padding: 20px;
    }
  
    .Copyright {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .footer-row {
      gap: 10px;
      flex-direction: column; 
      justify-content: center;
    }
  
    .footer-colum {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 20px;
    }
  
    .footer-colum h4 {
      font-size: medium;
    }
  
    .footer-colum ul li a {
      font-size: 12px;
    }
  
    .footer-container {
      padding: 20px;
    }
  
    .Copyright {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .footer-row {
      gap: 10px;
      flex-direction: column; 
    }
  
    .footer-colum {
      padding: 10px;
      margin-bottom: 20px;
      max-width: 100%;
      min-width: 100%;
    }
  
    .footer-colum h4 {
      font-size: medium;
    }
  
    .footer-colum ul li a {
      font-size: 12px;
    }
  
    .footer-container {
      padding: 15px;
    }
  
    .Copyright {
      font-size: 10px;
    }
  }
  

  /* Footer end */



  