{% extends "base.html" %}

{% block title %} Pawfect Match{% endblock %}

{% block content %}




{% set title = "Add pets" %}
{% include 'hero.html' %}

<div class="add-pet-section">
  <!-- Left image -->
  <div class="add-pet-image">
    <img src="{{ url_for('static', filename='images/contact-image.png') }}" alt="Contact image" class="Add pet" />
  </div>

  <!-- Right form -->
  <div class="add-pet-form-wrapper">
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('add') }}" class="add-pet-form">
      
      <h2 class="add-pet-title">Add a New Pet</h2>

      <div class="add-pet-form-group">
        <label for="img">Upload Pet Image:</label>
        <input type="file" name="image" accept="image/*" required>
      </div>

      <div class="add-pet-form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" required>
      </div>

      <div class="add-pet-form-group">
        <label for="age">Age:</label>
        <input type="number" name="age" required>
      </div>

      <div class="add-pet-form-group">
        <label for="breed">Breed:</label>
        <input type="text" name="breed" required>
      </div>

      <div class="add-pet-form-group">
        <label for="species">Species:</label>
        <input type="text" name="species" required>
      </div>

      <button type="submit" class="add-pet-btn">Add Pet</button>
    </form>
  </div>
</div>





{% include 'dog-fact.html' %}



{% include 'form.html' %}










{% endblock %}