
        <div class="contact-form-container">

            <div class="right-contact-template">
        <div class="form-box-template">
            <h2>Get In touch </h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
           
           
            <form id="contactform" method="POST" action="{{ form_action}}">

                <div class="name-row-template">
                     <input type="text" name="first_name" placeholder="First name" required>
                     <input type="text" name="surname" placeholder="Surname" required>
                </div>

                <input type="email" name="email" placeholder="Email" required>
                <textarea name="message" placeholder="Message" required></textarea>


                <label class="checkbox-wrapper-template">
                     <input type="checkbox" name="terms" required>
                    <span>I agree to the Terms and Conditions</span>
                </label>

        {% with messages = get_flashed_messages()%}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>
                    {{message}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}


                <button class="cbtn-template" type="submit">Send</button>
            </form>

             <!-- Contact form end -->

        </div>



        </div>