{% extends "base.html" %}

{% block title %}Pawfect Match{% endblock %}

{% block content %}

<!-- content -->


<section class="about-light-rev">
  <div class="light-contain-rev">
    <img src="{{ url_for('static', filename='images/Cute-dog.png') }}" alt="woman and dog" />
    <div class="light-txt-rev">
      <h2>From A Dream</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="btn" href="{{ url_for('contact') }}">Contact us</a>
    </div>
  </div>
</section>






 {% include 'stats.html' %}

 {% include 'how_we_work.html' %}



 <section class="how-we-work">
  <p class="subheading">The Process Is Divided In Three Easy Steps</p>
  <h2 class="title">Featured Pets</h2>

    <div class="pets-container">
    {% if pets %}
      {% for pet in pets %}
        <div class="pet-card">
          <img src="{{ url_for('static', filename=pet.img) }}" alt="{{ pet.name }}" />
          <div class="card-content">
            <p class="species">{{ pet.species | upper }}</p>
            <h3>{{ pet.name }}</h3>
            <p><strong>Breed:</strong> {{ pet.breed }}</p>
            <p><strong>Age:</strong> {{ pet.age }} years old</p>
          </div>
        </div>
      {% endfor %}
  </div>


  <div class="more-info">
    <a href="{{ url_for('pets') }}"><button>See all</button></a>
  </div>
</section>


 {% include 'questions.html' %}

 {% include 'dog-fact.html' %}

 {% include 'form.html' %}


{% endblock %}
