{% extends "base.html" %}

{% block title %}Pawfect Match{% endblock %}

{% block content %}

<!-- content -->


<section class="about-light-rev">
  <div class="light-contain-rev">
    <img src="{{ url_for('static', filename='images/Cute-dog.png') }}" alt="woman and dog" />
    <div class="light-txt-rev">
      <h2>From A Dream</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="btn" href="{{ url_for('contact') }}">Contact us</a>
    </div>
  </div>
</section>






 {% include 'stats.html' %}

 {% include 'how_we_work.html' %}

<div class="pets-preview">
  <h2>Featured Pets</h2>
  <div class="pet-list">
    {% for pet in pets %}
      <div class="pet-card">
        <img src="{{ url_for('static', filename=pet.img) }}" alt="{{ pet.name }}">
        <h3>{{ pet.name }}</h3>
        <p>Age: {{ pet.age }}</p>
        <p>Breed: {{ pet.breed }}</p>
        <p>Species: {{ pet.species }}</p>
      </div>
    {% endfor %}
  </div>
</div>






 {% include 'questions.html' %}

 {% include 'dog-fact.html' %}

 {% include 'form.html' %}


{% endblock %}
