<section class="asked-questions">
  <div class="questions-container">


    <!-- Left FAQ Column start-->
    <div class="questions-left">
      <h2>Frequently Asked Questions</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <img src="{{ url_for('static', filename='images/Illustration.png') }}" alt="FAQ Illustrations" />
    </div>


    <!-- Right FAQ Column start -->
    <div class="questions-right">
      <div class="faq">
        <div class="faq-item active">
          <button class="faq-title">How soon will I have my pet?</button>
          <div class="faq-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-title">Is there a waiting list?</button>
          <div class="faq-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-title">Is there an adoption fee?</button>
          <div class="faq-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-title">Can I adopt more than one?</button>
          <div class="faq-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-title">How do I take care of my pet?</button>
          <div class="faq-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-title">Can I return my pet?</button>
          <div class="faq-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
